body{
    
    font-family: "Helvetica Neue";
    margin:0px;
    height: 100vh;
}
*{
    box-sizing: border-box;
    max-width:100%;
}

/* Default Style*/

a,a:hover{
    color:#313131;
    text-decoration: none;
}

.navbrand{
    font-size:24px;

}
.asides{
    
}
.cart-1{
    background-image: url('../images/card-1.jpg');
    background-size:cover;
}
.collection-name{
    font-size: 22px;
    font-weight: 800;
}


/** Mobile Design**/
@media screen and (max-width:767px){
    .asides{
        width: 100%;
        max-width: auto;
    }
}
/** Tablet Design**/
@media screen and (min-width:768px){
    .cart-1{
        height: 60vh;
        
    }
    .cart-3{
        height: 40vh;
        
    }
}
/** Desktop Design**/
@media screen and (min-width:1024px){
    .asides{
        width: 20%;
        max-width: 150px;
    }
    
    .cart-2{
        height: 40vh;
        background-image: url('../images/img-4.jpg');
        background-size:cover;
        background-repeat: no-repeat;
    }
    .cart-3{
        height: 50vh;
        
    }
}
@media screen and (min-width:1440px){
    
    
    .cart-2{
        height: 60vh;
   
    }
    .cart-3{
        height: 40vh;
        
    }
}